body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'barlowlight';
	src: local('barlowlight') url(./assets/font/Barlow-Light.ttf) format('truetype');
	font-weight: normal;
}
